* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    word-wrap: break-word;
}

html, body {
    font-family: "Droid Sans";
    font-size: 16pt;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (min-device-width:800px) {
    html, body {
        font-size: 14pt;
    }
}

.page {
    display: none;
    background: #bf8;
    overflow: auto;
    padding: .5em;
}

.page h1, .page h2, .page h3, .page ul, .page ol, .page p, .page a {
    padding: .5em;
}

.page h1 {
    display: block;
    border-bottom: .25em solid #ae7 !important;
    float: left;
    clear: both;
    width: 100%;
    margin: -.25em -.25em .25em -.25em;
    padding: .25em .5em;
}

.fixed {
    position: fixed;
}

.active {
    display: block !important;
}

.active > div {
    display: block !important;
}

.fullscreen {
    position: fixed !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
}

.overlay {
    background: transparent !important;
    pointer-events: none;
    //z-index: 1000 !important;
}

.overlay > * {
    pointer-events: all !important;
}

.toolbar {
    position: fixed;
    left: 0px;
    right: 0px;
}

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 0px;
    border: none;
    overflow: hidden;
    opacity: 0;
}

.animate {
    transition: all 1s !important;
    -webkit-transition: all 1s !important;
    -moz-transition: all 1s !important;
    -o-transition: all 1s !important;
}

.sidebar hr {
    visibility: hidden;
    height: 3.75em;
}

.sidebar.active {
    width: 25%;
    border-left: 1em solid #ae7;
    overflow-y: auto !important;
    opacity: 1;
}

.top {
    top: 0px;
}

.bottom {
    bottom: 0px;
}

.left {
    position: absolute;
    left: .5em;
    //float: left;
    //margin-left: .5em;
}

.right {
    position: absolute;
    right: .5em;
    //float: right;
    //margin-right: .5em;
}

.button {
    display: inline-block;
    font-weight: bold;
    background: #069;
    border: 1px solid #07a;
    color: #ffd;
    min-width: 16px !important;
    min-height: 16px !important;
}

.button:hover {
    color: white;
    border-color: #18b;
    background-color: #17a;
}

.button:active {
    border-color: #29c;
    background-color: #28b;
}

.icon {
    overflow: hidden;
    background-position: left center;
    background-repeat: none;
}

.icon-menu {
    content: 'M';
}

#logo {
    clear: both;
    background-color: #a9ed76;
    color: #8c5;
    text-shadow: 0px 0px 3px #ae7;
}

@media (max-width:1024px) {
    .sidebar.active {
        width: 33%;    
    }
}

@media (max-width:800px) {
    .sidebar.active {
        width: 50%;
    }
}

@media (max-width:480px) {
    .sidebar.active {
        width: 75%;
    }
}

