* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    word-wrap: break-word;
}

html, body {
    font-family: droid-sans;
    font-size: 16pt;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (min-device-width:800px) {
    html, body {
        font-size: 14pt;
    }
}

.page {
    display: none;
    background: #dfb;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.page h1, .page h2, .page h3, .page ul, .page ol, .page p {
    padding: 1em;
}

.page h1 {
    text-align: center;
    background-color: inherit;
    margin: 0;
    padding: .35em .25em;
}

.fixed {
    position: fixed;
}

.indicator {
    background-color: #ffd;
    font-weight: bold;
    color: #9c7;
    border-radius: 1em;
    padding: .5em;
    margin-right: .5em;
}

.active, .always-active {
    display: block !important;
}

.fullscreen {
    position: fixed !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
}

.overlay {
    background: transparent !important;
    pointer-events: none;
    //z-index: 1000 !important;
}

.overlay > * {
    pointer-events: all !important;
}

.toolbar {
    position: fixed;
    left: 0px;
    right: 0px;
    padding: .5em 0px;
}

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: -25%;
    width: 25%;
    border: none;
    overflow-x: hidden;
    overflow-y: auto !important;
    border-left: 1em solid #cea;
    display: block;
    opacity: 0;
}

.animate {
    transition: all 1s !important;
    -webkit-transition: all 1s !important;
    -moz-transition: all 1s !important;
    -o-transition: all 1s !important;
}

.sidebar.active {
    visibility: visible;
    right: 0px;
    opacity: 1;
}

.top {
    top: 0px;
}

.bottom {
    bottom: 0px;
}

.pad-top {
    margin-top: .5em;
}

.left {
    //position: absolute;
    //left: 0px;
    float: left;
    //margin-left: .5em;
}

.right {
    //position: absolute;
    //right: .5em;
    float: right;
    margin-right: .5em;
}

.button {
    padding: .5em;
    display: inline-block;
    font-weight: bold;
    background: #069;
    border: 1px solid #07a;
    color: #ffd;
    min-width: 16px !important;
    min-height: 16px !important;
}

.button:hover {
    color: white;
    border-color: #18b;
    background-color: #17a;
}

.button:active {
    border-color: #29c;
    background-color: #28b;
}

.icon {
    overflow: hidden;
    background-position: left center;
    background-repeat: none;
    font-family: flat-ui;
    font-size: 16pt;
}

.sidebar ul {
    list-style-type: none;
    margin: 0px -.25em;
    padding: 0;
    border-bottom: 1px solid #9c7;
}

.sidebar ul li a {
    display: block;
    padding: 1em;
    border-top: 1px solid #9c7;
    border-left: 1em solid #9c7;
    color: black;
}

.sidebar ul li a:hover {
    border-color: #79c;
    background-color: #ace;
}

.sidebar ul li a:hover > * {
    color: black;
}

.sidebar ul li a:active {
    border-color: #9bf;
    background-color: #cef;
}

#logo {
    clear: both;
    background-color: #caeca8;
    color: #ac8;
    text-shadow: 0px 0px 3px #cea;
    text-align: right;
}

@media (max-width:1024px) {
    .sidebar {
        width: 33%;
        right: -33%;
    }
}

@media (max-width:800px) {
    .sidebar {
        right: -50%;
    }
}

@media (max-width:480px) {
    .sidebar {
        width: 75%;
        right: -75%;
    }
}

